@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    /*padding: 0;*/
    box-sizing: border-box;
}

h1{
   
    background-color: white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.cl{
    text-align: right;
    float: right;
}

ul{
    background-color: rgb(47, 79, 79);
    list-style: none;
    padding: 0;
    box-shadow: 10px 5px 5px rgb(169,169,169);
    font-family: 'Work Sans', sans-serif;
}

ul li{
    display: inline;
}

ul li a{
    color: rgb(220, 220, 220);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-family: 'Work Sans', sans-serif;
}

ul li a:hover{
    background-color: rgb(192, 192, 192);
}

#id1 {
    font-family: 'Work Sans', sans-serif;
    /*margin-left: 40%;*/
}
  
body {
    background-color: #f5f5f5; 
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
}
  
fieldset {
    border: 0;
    margin-left:35%;
    margin-top: 3%;
}
  
.botao {
    font-family: 'Work Sans', sans-serif;
    border-radius: 5px;
    font-size: 0.9em;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    background-color: rgb(47, 79, 79);
    padding: 0.2em 0.6em;
}

.botao:hover {
    background: rgb(192, 192, 192);
}
